.App {
  width: 100%;
  height: 100vh;
  background: rgb(76, 24, 88);
  background: linear-gradient(135deg, rgba(76, 24, 88, 1) 0%, rgba(156, 80, 173, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

.calculator {
  width: 350px;
  height: 650px;
  border-radius: 20px;
  border: 5px solid #ffffff;

  .ouptop {
    width: 100%;
    height: 35%;
    background: #2A2E37;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    textarea {
      width: 100%;
      height: calc(100% - 260px);
      resize: none;
      text-align: right;
      font-size: 54px;
      padding-right: 20px;
      padding-bottom: 130px;
      overflow: hidden;
      background: none;
      border: none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: #ffffff;
      transition: all 1s;
    }
  }

  .calculatorBtns {
    width: 100%;
    height: 65%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background: #2A2E37;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;

    .icon-top {
      position: relative;
      top: 5px;
    }

    .btn {
      width: 100%;
      height: 82px;
      border: none;
      justify-self: center;
      background: #2F3646;
      color: #E0E6F2;
      font-size: 28px;
      cursor: pointer;
      font-weight: Light;
      transition: all 0.4s;
    }

    .btn:focus {
      transition: all 0.4s;
      box-shadow: 0px 0px 10px #1c2029 inset;
    }

    .equal {
      height: 167px;
    }

    .btn.bg-pink {
      background: #C659DE;
      transition: all 0.4s;
    }

    .btn.bg-pink:focus {
      transition: all 0.4s;
      box-shadow: 0px 0px 10px #3b1b42 inset;
    }

    .btn.color-pink {
      color: #A575BA;
    }

    .btn.rounded-left {
      border-bottom-left-radius: 13px;
    }

    .btn.rounded-right {
      border-bottom-right-radius: 13px;
    }

    .btn.bottom-fix {
      position: relative;
      bottom: 86px;
    }
  }
}